:host {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 1px #fff;
    width: 80%;
    max-width: 350px;
    margin-bottom: 72px;
}

.title-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    color: #161616;
    font-size: 32px;
}

.subtitle {
    color: #a9a9a9;
    font-size: 24px;
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}